@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}



body {
    background: #eaeaea;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 8%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color:#222;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: #222;
    text-decoration: none;
    font-weight: 500;
    margin: 0 20px;
}

.navbar a:hover,
.navbar a.active {
    color: #1743e3;
}

.social-media {
    display: flex;
    justify-content: center;
    width: 150px;
    height: 40px;
    flex-direction: row;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    max-width: 20vw;
    height: 100%;
    background: #32343f;
    border-radius: 10px;
    text-decoration: none;
    transition: .8s;
    color: #ffffffb3;
    padding: 1vh 3vh 1vh 3vh;
}


.social-media a:hover {
    background: linear-gradient(30deg, #2e243ca5, #45355c91);
    /*transform: scale(1.05);*/
}

.social-media a i {
    font-size: 24px;
    color: #979191;
    margin: 5px 5px 5px 5px;

}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 8% 0;
    overflow: hidden;
    padding: 5% 2% 2% 7%;
}

.table-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

table {
    border-collapse: collapse;
    /* Weitere Stilregeln für Ihre Tabelle */
}

th, td {
    /* border: 1px solid black; */
    padding: 8px;
    text-align: left;
}

tr {
    color: #8d8585;
}



.admin-home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 27px 8% 0;
    overflow: hidden;
    padding: 5% 2% 2% 7%;
    flex-direction: column;
    align-content: center;
}

.home-content {
    font-size: 12px;
    display: flex;
    margin: 5px;
    padding: 5px 0px 169px 1px;
    max-height: 80%;
    width: 80%;
    flex-direction: column;
    align-items: flex-start;
}

.admin-home-content {
    font-size: 1.5vw;
    display: flex;
    margin: 2vw;
    padding: 5px 0px 0px 1px;
    max-height: 80%;
    width: 80%;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.home-content h1 {
    font-size: 60px;
    margin: 1% 1% 1% 0;
}

.home-content h3 {
    font-size: 24px;
    margin: 1% 1% 1% 0%;
}

.home-content p {
    font-size: 15px;
    padding: 1% 1% 5% 0%;
}

.btn {
    display: inline-block;
    padding: 10px 28px;
    background: #1743e3;
    border: 2px solid #1743e3;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 16px;
    color: #eaeaea;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    transition: .5s;
    margin: 5px 5px 13px 5px;
}

.btn:hover {
    background: transparent;
    color: #1743e3;
}



.home-img {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 4% 4% 4% 4%;
    background: url(../Pictures/back-bg.png) no-repeat;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.admin_ausgabe {
    color: #676a76;
    display: flex;
    font-family: monospace;
    font-size: 0.7vw;
    padding: 1vw;
    margin: 5vw;
    width: 40vw;
    height: 100vw;
    border-radius: 10vw;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: flex-start;
    align-items: center;
    background: #fff;
    overflow: scroll;
}
