/* Grundlegende Reset-Styles, um Konsistenz über verschiedene Browser hinweg zu gewährleisten */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    color: #333;
    line-height: 1.6;
}

/* Container für den gesamten Chatraum */
#chatroomContainer {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Titel des Chatrooms */
#chatroomTitle {
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
}

/* Container für Nachrichten */
#messagesContainer {
    border: 1px solid #ddd;
    height: 400px; /* oder eine andere passende Höhe */
    overflow-y: auto; /* Ermöglicht das Scrollen, wenn viele Nachrichten vorhanden sind */
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}

/* Formular für das Senden von Nachrichten */
#messageForm {
    display: flex;
    justify-content: space-between;
}

#messageForm input[type="text"] {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

#messageForm button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #5cb85c;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#messageForm button:hover {
    background-color: #4cae4c;
}

/* Weitere Stilisierungen können hier hinzugefügt werden */
